<div class="page-article__content-section" id="badges">
  <div class="content-section__row">
    <div class="content-section__header">
      <h2 class="title">Badges</h2>
      <p class="text--large">Oh no! Did you break something?</p>
      <p class="text">We highly doubt it, but this would be a good time to let the user know something went wrong. Alerts, should be used when the user needs instant feedback on an action they preformed. They are helpful when a user deletes a module or when they have successfully saved or created something new. Below you will find three types of alerts and how to best use them in the interface.</p>
    </div>
  </div>
</div>