<div class="page-article__content-section" id="icons">
  <div class="content-section__row">
    <div class="content-section__header">
      <h2 class="title">Iconography</h2>
      <p class="text--large">Atomizer leverages one typeface and two weights for its interface. Proxima Nova, designed by Mark Simonson Studio, is a strong sans-serif font that gives the interface a professional, business look, yet, provides just enough unique personality.</p>
      <p class="content__text">The dominate weight used is regular. This style of the font should be used in almost all cases. When a text elements needs additional attention the bold weight can then be used. You will notice that the bold weight is used primarly for actions, labels, and areas where strong emphasis is needed. Below you will find various versions of the font and how it is to be used throughout the application's interface.</p>
    </div>
  </div>
</div>